@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@{
    ViewData["Title"] = "Index";
}
<body>
    <div id="reg">
        <h1>Registration</h1>
            <h2>Welcome!!</h2>  
            @model Register
            <form class="form-group" asp-action="Register" asp-controller="home"method="post">
                <span asp-validation-for="first_name"></span>
                    <label asp-for="first_name">First Name:</label>
                        <input asp-for="first_name" id="textbox" type="text">
                <br>
                <span asp-validation-for="last_name"></span>
                    <label asp-for="last_name">Last Name:</label>
                        <input asp-for="last_name"  id="textbox" type="text">
                <br>
                <span asp-validation-for="email"></span>
                    <label asp-for="email">Email:</label>
                        <input asp-for="email"  id="textbox" type="text">
                <br>
                <span asp-validation-for="username"></span>
                    <label asp-for="username">Username:</label>
                        <input asp-for="username"  id="textbox" type="text">
                <br>
                <span asp-validation-for="password"></span>
                    <label asp-for="password">Password:</label>
                        <input asp-for="password"  id="textbox" type="password">
                <br>
                <span asp-validation-for="confpassword"></span>
                    <label asp-for="confpassword">Confirm Password:</label>
                        <input asp-for="confpassword"  id="textbox" type="password">
                <br>
                <button type="submit">REGISTER</button>
            </form>

            <form class="form-group" asp-action="LoginMethod" asp-controller="home"method="post">
                <span asp-validation-for="username"></span>
                <label asp-for="username">Username:</label>
                    <input asp-for="username"  id="textbox" type="text">
                <br>
                <span asp-validation-for="password"></span>
                <label asp-for="password">Password</label>
                    <input asp-for="password"  id="textbox" type="password">
                <br>
                <button type="submit">LOGIN</button>
            </form>
        
</body>
           

